* {
  border-box: box-sizing;
}

html {
  width: 100%;
}

body {
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

#root {
  margin-top: 20px;
  margin-bottom: 50px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#images-handler-box {
  display: none;
}

.class-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#eigenvalues-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main text {
  font: 10px sans-serif;
}

.axis line, .axis path {
  shape-rendering: crispEdges;
  stroke: black;
  fill: none;
}

circle {
  fill: crimson;
}
